.btn {
  padding: 1em 2em;
  /* background-color: #000; */
  /* border: 2px solid #150050; */
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  /* box-shadow: 0px 10px 15px -3px salmon; */
  background: linear-gradient(to left, #000, salmon 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.btn:hover {
  color: #fff;
  background-position: left;
  /* box-shadow: 0px 10px 15px -3px rgb(197, 122, 10); */
}

.line {
  background-color: white;
  width: 30px;
  height: 1px;
}
